.logo-container {
    margin: auto;
    width: 50%;
    text-align: center;
    font-size: xx-large;
    margin-top: 10px;
    margin-bottom: 10px;
}

.logo {
    font-family: Satisfy;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 20px
}

.navbar-brand {
    font-family: 'Satisfy', cursive;
}

.home {
    background: url('/static/images/nordwood-themes.jpg');
    background-size: cover;
}

.search {
    background: url('/static/images/nordwood-themes2.jpg');
    background-size: cover;
}

.link {
    background-color: #1E4653;
    border: 2px solid #1E4653;
    border-radius: 25px;
    color: whitesmoke;
    padding: 5px 10px;
    text-align: center;
    display: inline-block;
    font-family: Albert Sans;
    font-size: 16px;
    margin: 10px 10px;
    cursor: pointer;
    text-decoration:none;
}

.random {
    margin:auto;
    width: 50%;
    text-align: center;
}

.random-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border:2px solid #1E4653
}

.account-container {
    color: whitesmoke;
    font-family: Albert Sans;
    width: 25%;
    margin: auto;
    text-align: center;
}

.account {
    background-color: rgba(38, 70, 83, 0.6);
    border:10px solid rgba(38, 70, 83, 0.6)
}

.title {
    margin-top: 10px;
}

.login {
    font-family: Albert Sans;
    color: whitesmoke;
    background-color: #1E4653
}

.login-button {
    background-color: #1E4653;
    border: none;
    font-size: 16;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding: 8px
}

.button {
    background-color: #1E4653;
    border: solid #1E4653;
    border-radius: 25px;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding: 2px
    }

.rate-button {
    background-color: #1E4653;
    border: solid #1E4653;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding: 2px
}

.flash-msg {
    font-weight: bolder;
    font-size: large;
    font-family: Albert Sans;
    text-align: center;
    color: rgb(181, 0, 0)
}

.card-cookbook {
    text-align: center;
    border-radius: 3px;
    border: 3px solid #1E4653;
    margin: 2em;
    padding: 1em;
    padding-top: 3em;
    display: inline-block;
  }

  .card {
    border-radius: 3px;
    border: 3px solid #1E4653;
    margin: 2em;
    padding: 1em;
    display: inline-block;
  }
.header {
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.rating {
    text-align: center;
    font-style: italic ;
    font-size: medium;
    padding-bottom: 20px;
    padding-top: 20px
}

.recipe-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    width: 40%; 
    border: solid black
}

.recipe-contents {
    margin:auto;
    width: 80%
}

.edit {
    margin:auto;
    width: 80%
}

.save {
    margin: auto;
    width: 10%
}

.rate {
    margin-left: 60px
}

.recipe-list {
    margin: auto;
    width: 80%
}