.logo-container {
    margin: auto;
    width: 50%;
    text-align: center;
    font-size: xx-large;
    margin-top: 10px;
    margin-bottom: 10px;
}

.logo {
    font-family: Satisfy;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 20px
}

.navbar-brand {
    font-family: 'Satisfy', cursive;
}

.home {
    background: url('/static/images/nordwood-themes.jpg');
    background-size: cover;
}

.link {
    background-color: rgb(38, 70, 83);
    border: 2px solid rgb(38, 70, 83);
    border-radius: 25px;
    color: whitesmoke;
    padding: 5px 10px;
    text-align: center;
    display: inline-block;
    font-family: sans-serif;
    font-size: 16px;
    margin: 10px 30px;
    cursor: pointer;
    text-decoration:none;
}

.random {
    margin:auto;
    width: 50%;
    text-align: center;
}

.random-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border:2px solid rgb(38, 70, 83)
}

.account-container {
    color: whitesmoke;
    font-family: sans-serif;
    width: 25%;
    margin: auto;
    text-align: center;
}

.account {
    background-color: rgba(38, 70, 83, 0.6);
    border:10px solid rgb(38, 70, 83, 0.6)
}

.title {
    margin-top: 10px;
}

.login {
    font-family: sans-serif;
    color: whitesmoke;
    background-color: rgb(38, 70, 83);
}

.button {
    background-color: rgb(38, 70, 83);
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding: 8px
}

.flash-msg {
    font-weight: bolder;
    font-family: sans-serif;
    color: red
}
