{% extends 'base.html' %}
{% block title %} Recipe Details {% endblock %}

{% block body %}

{% if recipe_id not in saved_recipe_ids %}
    <h1 id="title"> {{ recipe['title'] }}</h1>
    <p>
        <a href="{{recipe['sourceUrl']}}">
          {{recipe['sourceUrl']}}
        </a>
    </p>
{% endif %}

{% if recipe_id is in saved_recipe_ids %}
    <h1 id="title">{{ recipe.title }}</h1>
    <p>
        <a href="{{ recipe.source_url}}">
        <input type="hidden" name="source_url" id="source_url" value="{{recipe.source_url}}">   
          {{recipe.source_url}}
        </a>
    </p>
{% endif %}

{% if session.get('user_email') %}
    {% if recipe_id not in saved_recipe_ids %}
      <button id="save">Save Recipe</button>
    {% endif %}
    
    {% if recipe.recipe_id in saved_recipe_ids %}
        This recipe is in your Cookbook. Would you like to edit it?
        <button id="edit">Edit Recipe</button>
    
    {% endif %}
    <form>
        {% if recipe.recipe_id not in rated_recipe_ids %}
        <h2>Rate Recipe</h2>
            <form id= "rate" method="POST">
            <input type="hidden" name="source_url" id="source" value="{{recipe['sourceUrl']}}">
            <p>
                Rating:
                <select name="rating" id="rating">
                <option value="">Select rating</option>
                {% for num in range(6) %}
                    <option value="{{ num }}">{{ num }}</option>
                {% endfor %}
                </select>
            </p>
        <p><input type="submit"></p>
    </form>
        {% endif %}
{% endif %}

<p>
{% if recipe_id not in saved_recipe_ids %}
    <img src="{{recipe['image']}}" width="25%">
    <input type="hidden" id="image" value="{{recipe['image']}}">
{% endif %}
</p>

<p>
{% if recipe_id in saved_recipe_ids %}
    <img src="{{ recipe.image_path }}" width="25%"> 
{% endif %}
</p>

{% if recipe_id not in saved_recipe_ids %}
    <div>    
        <ul id="ingredients">
            {% for ingredient in ingredients %}
                <li>
                    {{ ingredient }}
                </li>
            {% endfor %}
    </div>             

    <div>        
        <p>
            <ul id="instructions">
                {% for instruction in instructions %}
                    <li>
                        {{ instruction }}
                    </li>
                {% endfor %}
            </ul>
        </p>
    </div>
{% endif %}

<script src="/static/js.js"></script>
{% endblock %}