{% extends 'base.html' %}
{% block title %}What's Cooking? Home{% endblock %}

{% block body %}
  <h1>What's Cooking?</h1>
    
  <img src="{{recipe['image']}}" width="25%">
  
  <p>
    <a href="/recipe?id={{ recipe['id'] }}">{{ recipe['title'] }}</a>
    </p>
    <h3>Create an Account</h3>
    <form action="/users" method="POST">
      <p>
        Email <input type="text" name="email">
      </p>

      <p>
        Password <input type="password" name="password">
      </p>

      <p>
        <input type="submit">
      </p>
    </form>

  <h3>Log In</h3>
  <form action="/login" method="POST">
  
  <p>
    Email <input type="text" name="email">
  </p>

  <p>
    Password <input type="password" name="password">
  </p>

  <p>
  <input type="submit">
  </p>

  </form>
  
{% endblock %}