  
<head>
  <link rel="stylesheet" href="/static/stylesheet.css">
  <link href="https://fonts.googleapis.com/css2?family=Satisfy&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Albert+Sans&display=swap" rel="stylesheet">
</head>

<body class="home">
  
  <div class="login">
    <form action="/login" method="POST">
      <p class="email">
        &nbsp; Login: &nbsp;
        Email <input type="text" name="email">
        &nbsp; Password <input type="password" name="password">
        <input class="login-button" type="submit">
      </p>
    </form>
  </div>

  <!-- Show flashed messages-->
  {% for msg in get_flashed_messages() %}
    <div class="flash-msg">
      {{ msg }}
    </div>
  {% endfor %}

  <div class="logo-container">
    <h1 class="logo">What's Cooking?</h1>
  </div>

  <div class="random">
    <img src="{{recipe['image']}}" class="random-img">
      <p class="title">
        <a href="/recipe?id={{ recipe['id'] }}" class="link">{{ recipe['title'] }}</a>
      </p>
  </div>
  
 
<div class="account-container">
  <div class="account">
    <h3>Create an Account</h3>
    <form action="/users" method="POST">
      <p>
        Email <input type="text" name="email">
      </p>
      <p>
        Password <input type="password" name="password">
      </p>
      <p>
        <input class= "button" type="submit">
      </p>
    </form>
  </div>
</div>   

</body>