{% extends 'base.html' %}

{% block title %} Recipe Details {% endblock %}

{% block body %}
<form style="text-align:right; margin-right: 60px; margin-top: 10px">
    Source: <a href="{{source_url}}">
    Link to original source
    <input type="hidden" name="source_url" id="source_url" value="{{ source_url }}">
    </a>
</form>

<h1 class="header", id="title"> {{ title }}</h1>
<div class="container" style="border: solid #1E4653">
<div class="rating">
{% if recipe.recipe_id in rated_recipe_ids %}
    You rated this {{rating.score}} out of 5
{% endif %}
</div>

{% if session.get('user_email') %}

    <div class="save" >
        {% if is_API %}
            <button class="button" id="save";>Save This Recipe</button>
        {% endif %}
    </div>

    {% if not is_API %}
    <div class= "edit" id="edit">This recipe is in your Cookbook. Would you like to edit it?
        <button class="button" id="edit">Edit Recipe</button>
    </div>
    {% endif %}

    
        <div class="row" style="text-align: center">
            <p>
                {% if recipe.recipe_id not in rated_recipe_ids %}
                    <form id="rate" method="POST">
                        <p font-size: large>
                        Rate Recipe:  
                        <select name="rating" id="rating">
                        <option value="">Select rating</option>
                            {% for num in range(6) %}
                                <option value="{{ num }}">{{ num }}</option>
                            {% endfor %}
                        </select>
                        <input class="rate-button" type="submit">
                        </p>
                    </form>
                {% endif %}
            </p>
        </div>
  
{% endif %}

<div class="recipe-contents">
    <img class="recipe-img" src="{{image}}" width="50%">
    <input type="hidden" id="image" value="{{ image }}">

    <div class="container">
        <div class="row">
            <ul id="ingredients">
                {% for ingredient in ingredients %}
                <li>
                    {{ ingredient }}
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <p>
            <ul id="instructions">
                {% for instruction in instructions %}
                <li>
                    {{ instruction }}
                </li>
                {% endfor %}
            </ul>
            </p>
        </div>
    </div>
</div>
</div>
<div id="edit_recipe"></div>

<script src="/static/save.js"></script>
<script src="/static/edit.js"></script>
{% endblock %}