{% extends 'base.html' %}
{% block title %} {{ recipe['title'] }} {% endblock %}

{% block body %}
<h1 id="title"> {{ recipe['title'] }}</h1>
<form>
</p>
  <a href="{{recipe['sourceUrl']}}">
    {{recipe['sourceUrl']}}
    
  </a>
</p>
</form>
{% if session.get('user_email') %}
    {% if recipe_id not in saved_recipe_ids %}
      <button id="save">Save Recipe</button>
    {% endif %}
<p>
  <h2>Rate Recipe</h2>
  <form action="/ratings" method="POST">
    <input type="hidden" name="source_url" id="source" value="{{recipe['sourceUrl']}}">
    <p>
      Rating:
      <select name="rating" id="rating">
        <option value="">Select rating</option>
        {% for num in range(6) %}
          <option value="{{ num }}">{{ num }}</option>
        {% endfor %}
      </select>
    </p>
    <p><input type="submit"></p>
  </form>
  {% endif %}

 

  <img src="{{recipe['image']}}" width="25%">

  <input type="hidden" id="image" value="{{recipe['image']}}">
  <div>    
    <ul id="ingredients">
      {% for ingredient in ingredients %}
        <li>
        {{ ingredient['original'] }}
        </li>
        {% endfor %}
      </div>             
          <div>        
          <p>
          <ul id="instructions">
            {% for instruction in instructions %}
                <li>
                    {{ instruction }}
                  </li>
                    {% endfor %}
              </ul>
            </p>
          </div>    
    <script src="/static/js.js"></script>
{% endblock %}

