{% extends 'base.html' %}

{% block title %} Recipe Details {% endblock %}

{% block body %}
<h1 id="title"> {{ title }}</h1>

{% if recipe.recipe_id in rated_recipe_ids %}
    You rated this {{rating.score}} out of 5
{% endif %}

<form>
    <a href="source_url">
        {{ source_url}}
    <input type="hidden" name="source_url" id="source_url" value="{{ source_url }}">
    </a>
</form>

{% if session.get('user_email') %}
    {% if is_API %}
        <button id="save">Save Recipe</button>
    {% endif %}

    {% if not is_API %}
    <div id="edit">This recipe is in your Cookbook. Would you like to edit it?
        <button id="edit">Edit Recipe</button>
    </div>
    {% endif %}

    <div class="container">
        <div class="row">
            <p>
                {% if recipe.recipe_id not in rated_recipe_ids %}
                    <h3>Rate Recipe</h3>
                    <form id="rate" method="POST">
                        <p>
                        Rating:
                        <select name="rating" id="rating">
                        <option value="">Select rating</option>
                            {% for num in range(6) %}
                                <option value="{{ num }}">{{ num }}</option>
                            {% endfor %}
                        </select>
                        </p>
                        <p><input type="submit"></p>
                    </form>
                {% endif %}
            </p>
        </div>
    </div>
{% endif %}

    <img src="{{image}}" width="25%">
    <input type="hidden" id="image" value="{{ image }}">

    <div class="container">
        <div class="row">
            <ul id="ingredients">
                {% for ingredient in ingredients %}
                <li>
                    {{ ingredient }}
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <p>
            <ul id="instructions">
                {% for instruction in instructions %}
                <li>
                    {{ instruction }}
                </li>
                {% endfor %}
            </ul>
            </p>
        </div>
    </div>

<div id="edit_recipe"></div>

<script src="/static/save.js"></script>
<script src="/static/edit.js"></script>
{% endblock %}