{% extends 'base.html' %}
{% block title %}{{recipe.title}}{% endblock %}

{% block body %}
<h1 id='title'>{{ recipe.title }}</h1>
{% if recipe.recipe_id in rated_recipe_ids %}
  You rated this {{rating.score}} out of 5
{% endif %}
<form>
<p>
  <a href="{{ recipe.source_url}}">
    {{recipe.source_url}}
  </a>
</p>
</form>

{% if session.get('user_email') %}
    {% if recipe.recipe_id in saved_recipe_ids %}
      <div id="edit">This recipe is in your Cookbook. Would you like to edit it?
        <button id="edit">Edit Recipe</button>
      </div>
    {% endif %}
<p>
    {% if recipe.recipe_id not in rated_recipe_ids %}
      <h2>Rate Recipe</h2>
        <form id="rate" method="POST">
          <input type="hidden" name="recipe_id" value={{recipe.recipe_id}}>
          <input type="hidden" name="source_url" id="source" value="{{recipe['sourceUrl']}}">
            <p>
              Rating:
              <select name="rating" id="rating">
              <option value="">Select rating</option>
                {% for num in range(6) %}
                <option value="{{ num }}">{{ num }}</option>
          {% endfor %}
        </select>
      </p>
    <p><input type="submit"></p>
    </form>
    {% endif %}
  {% endif %}

<p>
  <img src="{{ recipe.image_path }}" width="25%">
  <input type="hidden" id="image" name="image" value="{{recipe['image']}}">
</p>


<div id="ingredients">
  {{ recipe.ingredients}}
</div>
<p>
<div id="instructions">
  {{ recipe.instructions }}
</p>
</div>
<div id="edit_recipe"></div>


<script src="/static/js.js"></script>
<script src="/static/edit.js"></script>
{% endblock %}