{% extends 'base.html' %}
{% block title %}{{recipe.title}}{% endblock %}

{% block body %}
<h1 id='title'>{{ recipe.title }}</h1>

<p>
  <a href="{{ recipe.source_url}}">
    {{recipe.source_url}}
  </a>
</p>

</form>
{% if session.get('user_email') %}
    {% if recipe.recipe_id not in rated_recipe_ids %}
      <h2>Rate Recipe</h2>
        <form action="/ratings" method="POST">
          <input type="hidden" name="recipe_id" value={{recipe.recipe_id}}>
       <p>
        Rating:
          <select name="rating" id="rating">
          <option value="">Select rating</option>
        {% for num in range(6) %}
          <option value="{{ num }}">{{ num }}</option>
        {% endfor %}
    </select>
  </p>
  <p><input type="submit"></p>
    </form>
    {% endif %}
  {% endif %}

<img src="{{ recipe.image_path }}" width="25%">

<p>
  {{ recipe.ingredients}}
<p>
  {{ recipe.instructions }}
</p>

{% endblock %}