{% extends 'base.html' %}
{% block title %}User Home{% endblock %}

{% block body %}
<h2>User Home Page</h2>
    
  <p>
    <h2>Search for Recipes</h2>
    <form action="/search">
        Search <input type="text" name="query">
      <p>
        <input type="submit">
      </p>
    <ul>
    {% for recipe in user.recipes %}
  <li>
    <a href="/saved_recipe/{{recipe.recipe_id}}">
      {{recipe.title}}
    </a>
  </li>
    {% endfor %}
  </p>
  <ul>
  {% for rating in user.ratings %}
    <li>
      {{ rating.recipe.title}}:
      <span {{ rating.rating_id }}>
        {{rating.score}}
      </span>
    </li>
  {% endfor %}
  </ul>

  </ul>
  </p>
{% endblock %}