{% extends 'base.html' %}

{% block title %}My Cookbook{% endblock %}

{% block body %}

<h1 style="font-weight: bold; text-align:center; margin-top: 10px; margin-bottom: 20px">My Cookbook</h1>

<div class="container">
  <div class="row justify-content-center" style="margin-bottom: 20px">
    <div class="col-md-6" style="text-align:center">
      <h2>Search for New Recipes</h2>
      <form action="/search">
          <input type="text" name="query">
          <input class="button" type="submit">
      </form>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    
    <div class="col-md-6">
      <h2 style="margin: auto; width: 40%"> Saved Recipes </h2>
      <ul>
        {% for saved_recipe in user.saved_recipes %}
          <div class="card-cookbook">
            <img src="{{saved_recipe.recipe.image_path}}" width="70%">
            <p>
            <a class="link" href="/saved_recipe/{{saved_recipe.recipe.recipe_id}}">
              {{saved_recipe.recipe.title}}
            </a>
          </p>
          </div>
        {% endfor %}
      </ul>
    </div>

    <div class="col-md-6">
      <h2 style="margin: auto; width: 40%">Rated Recipes</h2>
        <ul>
        {% for rating in ratings %}
        <div class="card-cookbook">
            <img src="{{rating.recipe.image_path}}" width="70%">
            <p>
            <a class="link" href="/saved_recipe/{{rating.recipe.recipe_id}}">
            {{rating.recipe.title}}
            </a>
            Your Rating: {{rating.score}}</div>
          {% endfor %}
            </p>
        </ul>
    </div>

    </div>
  </div>


{% endblock %}